include README.md
include manifest.json
include requirements.txt
recursive-include examples *
recursive-include floes *.py
recursive-include PlatformTestCubes *.py *.pdb
recursive-include OpenMMCubes *.py
recursive-include LigPrepCubes *.py
recursive-include YankCubes *.py
